<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Автомойка ГИДРОКАР</h5>
                <p class="grey-text text-lighten-4">Это первая профессиональная автомойка в городе Нижневартовске, на которой Ваш автомобиль обслуживают сразу два автомойщика, что значительно сокращает время предоставления услуги.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Меню</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Главная</a></li>
                    <li><a class="grey-text text-lighten-3" href="calc.html">Калькулятор</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © <span id="year"></span> Автомойка "ГИДРОКАР"
            <a class="grey-text text-lighten-4 right" href="#!">Разработано с <i class="fa fa-heart"></i> Aitisha.ru</a>
        </div>
    </div>
</footer>
<script src="js/main.js"></script>

</body>
</html>