<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Автомойка ГИДРОКАР</h5>
                <p class="grey-text text-lighten-4">Это первая профессиональная автомойка в городе Нижневартовске, на которой Ваш автомобиль обслуживают сразу два автомойщика, что значительно сокращает время предоставления услуги.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Меню</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#indexbanner">Главная</a></li>
                    <li><a class="grey-text text-lighten-3" href="#calcu">Калькулятор</a></li>
                    <li><a class="grey-text text-lighten-3" href="#contact">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © <span id="year"></span> Автомойка "ГИДРОКАР"
            <a class="grey-text text-lighten-4 right" href="http://aitisha.ru">Разработано с <i class="fa fa-heart"></i> Aitisha.ru</a>
        </div>
    </div>
</footer>

<!-- BEGIN Hero Form Alert/Notifications -->
<div id="hero-error-notification" class="notif-box">

    <span class="fa fa-bullhorn fa30"></span>
    <p>Произошла ошибка</p>
    <a class="notification-close"><span class="icon-cross2"></span></a>

</div> <!--/ #error-notification -->

<div id="hero-success-notification" class="notif-box">

    <span class="fa fa-thumbs-o-up fa30"></span>
    <p>Ваше сообщение отправлено мы с вами свяжемся.</p>
    <a class="notification-close"><span class="icon-cross2"></span></a>

</div>
<script src="js/main.js"></script>

</body>
</html>