<!DOCTYPE html>
<html>
<head lang="ru">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">
    <title>Гидрокар автомойка</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="css/main.css" media="screen,projection"/>


</head>
<body>
<section class="menu">
    <nav class="">
        <div class=" nav-wrapper container valign-wrapper">
            <a href="#" class="brand-logo left "><img src="img/cdr.png" alt="logo" class="valign responsive-img"/></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i>menu</a>
            <ul class=" hide-on-med-and-down valign right-align right ">
                <li><a id="menu_contact" href="contact.html">Контакты</a></li>
                <li><a id="menu_calc" href="calc.html">Калькулятор</a></li>
                <li><a id="menu_home" href="/">Главная</a></li>

            </ul>
            <ul class="side-nav " id="mobile-demo">
                <li><a href="/">Главная</a></li>
                <li><a href="calc.html">Калькулятор</a></li>
                <li><a href="contact.html">Контакты</a></li>
            </ul>
        </div>
    </nav>

</section>
